// Variables
//------------------------------------------------

// Colors
$color-primary:		#3742fa;
$color-secondary:	#57606f;
$color-light:		#fff;
$color-dark:		#2f3542;
$color-success:		#2ed573;
$color-danger:		#ffa502;
$color-error:		#ff4757;

// Direction
$direction: ltr;