// Variables
//------------------------------------------------

///--- Colors
$color-primary:		#3742fa;
$color-secondary:	#57606f;
$color-light:		#f1f2f6;
$color-dark:		#2f3542;
$color-success:		#2ed573;
$color-danger:		#ffa502;
$color-error:		#ff4757;

///--- Direction
$direction: ltr;

///--- Typography
// Anchor
$link-color:                $color-primary !default;
$link-decoration:           none !default;
$link-hover-color:          $color-dark !default;
$link-hover-decoration:     none !default;
$link-transition:     		0.2s all ease-in-out !default;

// Heading
$heading-font-size:         40, 32, 24, 20, 16, 14 !default;
$heading-font-weight:       500 !default;
$heading-color:             $color-dark !default;
$heading-line-height:       1.5 !default;
$heading-margin-bottom:     10px !default;
$heading-small-font-size:   85% !default;
$heading-small-font-weight: normal !default;
$heading-small-color:       #555 !default;
$heading-small-line-height: 1.5 !default;

// Paragraph
$p-font-family:           	inherit !default;
$p-font-weight:				normal !default;
$p-color:					$color-dark !default;
$p-margin-bottom:           10px !default;

// Mark
$mark-color:                $color-dark !default;
$mark-bg:                   #fbffeb !default;
$mark-padding-y:            1px !default;
$mark-padding-x:            3px !default;

// Strong
$strong-font-weight:        bold !default;

// Code
$code-font-family:          "Courier New", monospace !default;
$code-font-size:            100% !default;
$code-bg:                   #333 !default;
$code-color:                #fff !default;
$code-padding-y:            3px !default;
$code-padding-x:            5px !default;
$code-border-radius:        3px !default;

///--- Button
$button-height:       		36px;
$button-bg:                 $color-primary;
$button-color:              #fff;
$button-font-weight:        normal;
$button-font-family:        inherit;
$button-font-size:          rem(13);
$button-line-height:        1.1;
$button-padding-y:          rem(10);
$button-padding-x:          rem(16);
$button-wide-padding-x:		rem(24);
$button-border-radius:      3px;
$button-transition:         0.3s all ease-in-out;
$button-shadow:             0 1px 1px rgba(90,90,90,0.1);
$button-shadow-active:      inset rgba(#000, 0.125) 0px 3px 5px, 0 2px 2px rgba(#000, 0);
$button-disabled-cursor:    default;
$button-disabled-opacity:   0.6;