/*-----------------------------------------------------------------
- Koochak documents inner styles
-----------------------------------------------------------------*/
header{
	padding: 30px 0;
	border-bottom: 1px solid #e1e4ec;
	margin-bottom: 30px;
}

footer{
	font-size: 14px;
	padding-bottom: 50px;
	color: #586069;
}