// Grid
//------------------------------------------------
.container{
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	@include bp(768){
		max-width: 720px;
	}
	@include bp(992){
		max-width: 960px;
	}
	@include bp(1200){
		max-width: 1140px;
	}
}
.row{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;

	@include bp(767, max){
		display: block;
	}
}
.col{
	flex: 1;
	padding-right: 15px;
	padding-left: 15px;

	@include bp(767, max){
		width: 100%;
	}
}
@for $i from 1 through 12 {
	.col-#{$i}{
		flex: 0 0 percentage($i/12);
		max-width: percentage($i/12);
	}
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
	padding-right: 15px;
	padding-left: 15px;

	@include bp(767, max){
		width: 100%;
		max-width: none;
	}
}