// Grid
//------------------------------------------------
.row{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}
.col{
	flex: 1;
	padding-right: 15px;
	padding-left: 15px;
}
@for $i from 1 through 12 {
	.col-#{$i}{
		flex: 0 0 percentage($i/12);
		padding-right: 15px;
		padding-left: 15px;
	}
}