// Helpers
//------------------------------------------------

// Clearfix
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

// Display
.d-n {
	display: none !important;
}

.d-i {
	display: inline !important;
}

.d-b {
	display: block !important;
}

.d-ib {
	display: inline-block !important;
}

.d-t {
	display: table !important;
}

.d-tc {
	display: table-cell !important;
}

.d-f {
	display: flex !important;
}

.d-if {
	display: inline-flex !important;
}

.d-li {
	display: list-item !important;
}

.v-v {
	visibility: visible !important;
}

.v-h {
	visibility: hidden !important;
}

// Float
.f-l {
	float: left !important;
}

.f-r {
	float: right !important;
}

.f-n {
	float: none !important;
}

// Text
.dir-rtl {
	direction: rtl !important;
}

.dir-ltr {
	direction: ltr !important;
}

.ta-l {
	text-align: left !important;
}

.ta-r {
	text-align: right !important;
}

.ta-c {
	text-align: center !important;
}

.ta-j {
	text-align: justify !important;
}