// Table
//------------------------------------------------
table {
	width: 100%;
	max-width: 100%;
	background: $table-bg;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 0;
	margin-bottom: 10px;

	// Table Header & Footer
	thead, tfoot {
		background: $table-head-bg;

		td, th {
			color: $color-dark;
			border-top: 0;
			border-bottom: 0;
		}
	}

	thead {
		border-bottom: 1px solid $table-border-color;
	}

	tfoot {
		border-top: 1px solid $table-border-color;
	}

	// Cell
	td, th {
		text-align: left;
		vertical-align: middle;
		padding: 10px 8px;
		border-bottom: $table-border;
		font-size: rem(14);
	}
	th {
		font-weight: bold;
		color: $color-dark;
	}

	// Bordered
	&.bordered{
		border: $table-border;
		box-shadow: $table-box-shadow;

		td, th{
			border: $table-border;
		}
	}
}