// Typography
//------------------------------------------------
a{
	color: $link-color;
	text-decoration: $link-decoration;
	transition: $link-transition;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

// Heading
h1, h2, h3, h4, h5, h6{
	font-family: inherit;
	font-weight: $heading-font-weight;
	color: $heading-color;
	line-height: $heading-line-height;
	margin: 0 0 $heading-margin-bottom;

	small{
		font-size: $heading-small-font-size;
		font-weight: $heading-small-font-weight;
		color: $heading-small-color;
		line-height: $heading-small-line-height;
	}

}
@for $i from 1 through 6 {
	h#{$i} {
		font-size: rem(nth($heading-font-size, $i));
	}
}

// Paragraph
p{
	font-family: $p-font-family;
	font-weight: $p-font-weight;
	color: $p-color;
	margin: 0 0 $p-margin-bottom 0;
}

// Mark
mark{
	color: $mark-color;
	background: $mark-bg;
	padding: $mark-padding-y $mark-padding-x;
}

// Strong
b, strong{
	font-weight: $strong-font-weight;
}

// Code
code{
	font-family: $code-font-family;
	font-size: $code-font-size;
	background: $code-bg;
	color: $code-color;
	padding: $code-padding-y $code-padding-x;
	border-radius: $code-border-radius;
	direction: ltr !important;
}

// List
ol, ul{
	padding-left: 20px;
	margin-bottom: 10px;

	li{
		padding-left: 10px;
	}
}
ol{
	list-style: decimal;
}
ul{
	list-style: circle;
}

// hr
hr{
	display: inline-block;
	width: 100%;
	border: 0;
	border-top: 1px solid darken($color-light, 5%);
	margin: 20px 0;
}